<ion-content  [fullscreen]="true">
  <img src="assets/cast.png" alt="Castelo" class="castelo">
  
 
    <ion-card>
      <ion-item class="ion-text-center text-bold" lines="none" class="line-botton">
        <ion-label>
          Digite seu E-mail e Senha
        </ion-label>
      </ion-item>
  
      <ion-item lines="none">
        <ion-label position="stacked">E-mail</ion-label>
        <ion-input type="email" placeholder="Digite seu E-mail"></ion-input>
      </ion-item>
  
      <ion-item lines="none" class="line-bottom">
        <ion-label position="stacked">Senha</ion-label>
        <ion-input placeholder="Digite sua senha"></ion-input>
      </ion-item>
  
      <ion-item lines="none">
        <ion-label>Manter logado!</ion-label>
        <ion-checkbox slot="start"></ion-checkbox>
      </ion-item>
    </ion-card>
  
    <ion-card>
      <ion-button expand="block" routerLink="/home"  >ENTRAR</ion-button>
      <ion-button routerLink="/cadastro" expand="block" fill="outline">REGISTRAR</ion-button>
    </ion-card>

  </ion-content>
  
