<ion-header>
  <ion-toolbar color="warning">
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="warning">

  <ion-grid>
   
    <ion-row>
      <ion-col size="2">

      </ion-col>
      <ion-col size="8" position="center">
        <ion-card routerLink="/escolha-jogadores"> 
          <ion-card-header>
            <img src="assets/velha.png"/>
            <ion-card-title>Jogo Da Velha</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="2">

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="2">

      </ion-col>
      <ion-col size="8" position="center">
        <ion-card routerLink="/memoria"> 
          <ion-card-header>
            <img src="assets/memo.jpg"/>
            <ion-card-title>Jogo Da Memória</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="2">

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>