<ion-content> 
  <div class="ion-text-center">
  <ion-img src="../../assets/mododejogo.png">
  </ion-img>
  </div>
  <div id="margin">
    <br>
    <ion-button expand="block" color="primary" id="btnVoltar" href="home">Voltar</ion-button>
    <ion-label color="primary">Nome Jogador 1</ion-label>
    <ion-input id="jogador1"></ion-input>
    <ion-label color="primary">Nome Jogador 2</ion-label>
    <ion-input id="jogador2"></ion-input>
    <ion-button expand="block" color="success" (click)="salvar()">Jogar 1x1</ion-button>
    <br>
    <ion-button expand="block" color="warning" href="jogo-da-velha-solo">Jogar Sozinho</ion-button>
  </div>
</ion-content>

