.ola{
  text-align: center;
 p{ font-weight: bolder;

 }
}

.jogosA{
  
        text-align: center;
       p{
          font-weight: bolder;
        }
    
}   

.my-custom-class{
  text-align:center;
}