.ava{
    text-align: center;
    position: absolute;

}

.graficos{
    margin-top: 50px;
}

.my-custom-menu {
    --width: 500px;
  }
  
  img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    
}