<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Meu Avanço
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-grid>
    <ion-row>
      <ion-col>
        
      </ion-col>
      <ion-col>
        <ion-avatar  class="ava" click="escolher()">
          <img src="assets/avatar.jpg">
        </ion-avatar>
      </ion-col>
      <ion-col>
        
      </ion-col>
    </ion-row>
    </ion-grid>

    <ion-grid class="graficos">
      <ion-row>
        <p>Língua Portuguesa</p>
        <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <p>Matemática</p>
        <ion-progress-bar color="secondary" value="0.9"></ion-progress-bar>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <p>Lógica</p>
        <ion-progress-bar color="secondary" value="0.2"></ion-progress-bar>
      </ion-row>
    </ion-grid>
    
   
    


  
</ion-content>
